<div class="container-main">
  <div class="container">
    <%= @question %>
    <p>
      <em>Me</em>
    </p>
  </div>

  <div class="container">
    <%= @answer %>
    <p>
      <em>Coach</em>
    </p>
    <%= link_to "Ask again", ask_path %>
  </div>
</div>
