<div class="container-main">
<div class="container">
  <h1>Ask Your Coach a Question</h1>

  <form action='/answer'>
    <input type="text" name="question" id="question-field">
    <input type="submit" value="Ask!" id="submit">
  </form>
</div>
</div>
